{
  "env": {
    "es6": true,
    "node": true,
    "jasmine": true,
    "browser": true
  },
  "parser": "babel-eslint",
  "parserOptions": { "ecmaVersion": 6 } ,
  "extends": [ "eslint:recommended" ],
  "rules": {
    "no-useless-escape": "off",
    "eqeqeq": ["error", "always" ],
    "curly": [ "error", "all" ],
    "semi": ["error", "always"],
    "indent": ["error", 2, { "SwitchCase": 1 }],
    "prefer-const": "error",
    "quotes": ["error", "single", { "avoidEscape": true }]
  }
}
